/* Modifiers */

.button--active {
    text-transform: capitalize;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10px;
}


/* Global csss */

.home {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
}

.user {
    width: 25%;
}

.user__section {
    display: flex;
    align-items: center;
    /*justify-content: center;
    */font-size: 1.2em;
    background: #fff;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 0 3px 10px -3px rgba(0,0,0,.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.user__section {
    color: #222222;
}

.user__section:hover {
    text-decoration: none;
    color: #222222;
    box-shadow: 0 3px 10px -3px rgba(0,0,0,.2);
}

.user__img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.tweets {
    width: 75%;
}