.profile {
    max-width: 1000px;
    margin: 0 auto;
}

.profile__user {
    max-width: 400px;
}

.profile__avatar {
    width: 150px;
    height: 150px;
}

.profile__info {
    margin-left: 20px;
}

.profile__title {
    font-size: 1.2em;
}

.profile__description {
    font-size: 1em;
}

/* -- Main css -- */

.profile .posts {
	width: 100%;
	margin: 10px;
    max-width: 600px;
    margin-left: auto;
}

.post {
    border: solid .5px rgba(0, 0, 0, .05);
    padding: 10px 20px;
}

/* Media querys */

@media screen and (max-width: 800px) {
	.profile {
		flex-direction: column;
	}
}