/* ==== Imports ==== */

@font-face {
	src: url('/fonts/pt-sans.ttf');
	font-family: 'regular';
	font-weight: 500;
}

@font-face {
	src: url('/fonts/pt-sans-bold.ttf');
	font-family: 'bold';
	font-weight: 500;
}

.regular {
	font-family: 'regular';
}

.bold {
	font-family: 'bold';
}

/* -- Reset css -- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==== Main css ==== */

::-webkit-scrollbar {
	display: none;
}

* {
	font-size: 16px;
	font-family: 'regular';
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 16px;
}

main {
	width: 100%;
	height: 100%;
}

button, input {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-family: 'bold' !important;
}

button {
	cursor: pointer;
}

h1,h2,h3,h4,h5 {
	font-family: 'bold', Arial, sans-serif;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.6em;
}

p {
	font-size: 1em;
	line-height: 1.5;
}

a {
	color: #fe8a71;
	font-family: 'bold';
}

/* Displays */

.fixed {
	position: fixed;
}

.flex {
	display: flex;
}

.flex.row {
	flex-direction: row;
}

.flex.column {
	flex-direction: column;
}

.flex.center {
	justify-content: center;
}

.flex.align {
	align-items: center;
}

.flex.align.bottom {
	align-items: flex-end;
}

.flex.align.top {
	align-items: flex-start;
}

/* -- Modifiers -- */

/* checkboxes labels */

.checkbox--default {
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: #3da4ab;
}

.checkbox--default .vink {
	transform: rotate(45deg);
	position: relative;
	height: 100%;
	width: 100%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.checkbox--default .vink div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 12px;
	height: 3px;
	background: #fff;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.checkbox--default .vink div:nth-child(1) {
	height: 12px;
	width: 3px;
}

/* buttons */

/* button active */
.button--active {
	text-transform: capitalize;
	padding: 5px 20px;
	margin-top: 30px;
	background: #ff6363;
	color: #fff;
}

/* button submit */

.button--submit {
	padding: 7px 5px;
	width: 100px;
	background: #ff6363;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	font-size: 1.2em;
	color: #fff;
}

/* button red */

.button--border--round {
	padding: 10px 20px;
	/* width: 100px; */
	background: none;
	border: solid 1px #ff4d4d;
	color: #ff4d4d;
	font-size: 1.1em;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

/* - inputs - */

/* -- Large */
.input--large {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input__label--large {
	text-transform: capitalize;
	font-family: sans-serif;
}

/* -- Style */
.input--style {
	position: relative;
	width: 200px;
	height: 70px;
}

.input__label--style {
	cursor: text;
	font-family: sans-serif;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-transform: capitalize;
	z-index: 3;
}

.input__label--style::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: solid 2px #3da4ab;
}

.input__input--style {
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	z-index: 1;
	border: none;
	background: none;
	border-bottom: solid 3px #0e9aa7;
	padding-bottom: 2px;
}

.input__input--style:required {
	box-shadow: none;
}

.input__span--style {
	position: absolute;
	left: 0;
	bottom: 5px;
	transition: transform .2s, color .2s;
	-webkit-transition: transform .2s, color .2s;
	-moz-transition: transform .2s, color .2s;
	-ms-transition: transform .2s, color .2s;
	-o-transition: transform .2s, color .2s;
}

.input__input--style:focus ~ .input__label--style .input__span--style,
.input__input--style.input--active ~ .input__label--style .input__span--style {
	transform: translate(-7px, -20px) scale(0.9);
	-webkit-transform: translate(-7px, -20px) scale(0.9);
	-moz-transform: translate(-7px, -20px) scale(0.9);
	-ms-transform: translate(-7px, -20px) scale(0.9);
	-o-transform: translate(-7px, -20px) scale(0.9);
	color: #0e9aa7;
}

/* Img container */

.img-box {
    position: relative;
    width: 50px;
    height: 50px;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.avatar {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	overflow: hidden;
}

.avatar img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	object-fit: cover;
}

.logo {
	position: relative;
	background: #fff;
}

.logo img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: visible !important;
	z-index: 2321;
}

/* -- Forms -- */

/* form modal */

.form-modal {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	width: 500px;
	height: 500px;
	padding: 40px 20px;
	background: #fff;
	box-shadow: 0 3px 10px -3px rgba(0,0,0,.2);
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	overflow: auto;
}

.form-modal__header {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
	padding: 15px 0px 30px 0px;
}

.form-modal__close {
	position: relative;
	width: 50px !important;
	height: 50px !important;
}

.form-modal__title {
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

.form-modal__input {
	font-family: sans-serif;
}

.form-modal__submit {
	margin-left: auto;
	margin-right: 15px;
}

/* form post */

.form-post {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	padding: 20px 0;
}

.form-post__avatar {
	width: 90px;
	height: 90px;
}

.form-post__input {
	background: none;
	border: none;
	margin-left: 10px;
	width: 80%;
	font-size: 1.2em;
	resize: none;
	opacity: .5;
}

.form-post__input:required {
	box-shadow: none;
}

.form-post__label {
	text-transform: capitalize;
	pointer-events: none;
}

.form-post__submit {
	opacity: .7;
	margin-left: auto;
	margin-right: 40px;
}

/* form guest */

.form-guest {
	position: relative;
	width: 340px;
	margin: auto;
}

.form-guest__desc {
	font-size: 1em;
	color: #000000b6;
	margin-top: 10px;
	margin-bottom: 40px;
}

.form-guest__item {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	margin-bottom: 30px;
}

.form-guest__item:last-child {
	margin: 0;
}

/* Cross (needs 2 divs) */

.cross {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.cross div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #000;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.cross div:nth-child(1) {
	width: 60%;
	height: 5px;
}

.cross div:nth-child(2) {
	width: 5px;
	height: 60%;
}

.cross--exit {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.cross--exit div {
	background: #ff4d4d;
}

/* Modals */

.modal {
	display: none;
}

.modal__filter {
	position: relative;
	width: 100%;
	height: 100%;
	background: #00000058;
}
/* -- Main css -- */

.index {
	display: flex;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}

/* Explore section */

.explore {
	margin-top: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: auto;
	margin-right: 100px;
}

.explore__section {
	cursor: pointer;
	max-width: 300px;
	width: 100%;
	font-size: 1.8em;
	color: #000;
	text-decoration: none;
	padding: 10px 15px 10px 15px;
}

.explore__section:hover {
	color: #fe8a71 !important;
	text-decoration: none;
}

.explore__img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

/* Content container */

.content {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: auto;
	height: 100vh;
	border: solid .5px rgba(0, 0, 0, .05);
	border-top: none;
}

.content__header {
	position: relative;
	overflow: hidden;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 999;
	width: 100%;
	padding: 10px 25px;
	font-size: 1em
}

/* Profile */

.profile {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.profile__banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
	z-index: -1;
	background: #0e9aa7;
}

.profile__banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile__avatar {
	margin-left: 20px;
	width: 100px;
	height: 100px;
	border: solid 3px #fff;
}

.profile__info {
	position: relative;
	margin: 20px 25px;
}

.profile__edit {
	position: absolute;
	top: -60px;
	right: 0;
}

/* Posts > post */

.post__none {
	margin-left: 60px;
	margin-top: 20px;
	font-size: 1.2em;
	color: #3d3d3d;
}

.post {
	position: relative;
    border: solid .5px rgba(0, 0, 0, .05);
	padding: 10px 20px;
	margin-bottom: 20px;
}

.post__user {
	border-bottom: solid .03px rgba(0, 0, 0, .1);
	padding: 10px 0;
}

.post__name {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	color: rgba(0, 0, 0, .7);
}

.post__date {
	font-size: 1em;
	margin-left: auto;
}

.post__caption {
	margin-top: 10px;
	font-size: 1.2em;
}

.post__image {
	position: relative;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background: #ebebeb;
}

.post__image img {
	max-width: 100%;
	max-height: 100%;
}

/* -- @Media querys -- */

@media screen and (max-width: 900px) {
	/* Form guest */

	.form-guest {
		margin-left: 0;
		width: 100%;
		padding: 40px;
	}

	/* Main */

	main {
		width: 100%;
		overflow: hidden;
		flex-direction: column !important;
	}

	/* Profile */

	.profile {
		flex-direction: column;
	}
}

@media screen and (min-width: 900px) {
	.form-guest {
		margin-left: 300px;
	}
}